<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
        <title>Admin page - Nézünk, mint a moziban</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Admin page</h1>        
        <a href="/adminadder">Adminjogok szerkesztése</a> <br/>
        <a href="/roomcreation">Új terem felvétele</a> <br/>
        <a href="/movieadder">Új film felvétele</a> <br/>
        <a href="/screeningadder">Új vetítés felvétele</a> <br/>
        <a href="/mainpage">Főoldal</a> <br/>
<!--        <a th:href="@{/createCategories}">Kategóriák generálása</a> <br/>-->
        <a href="/mainpage/logout">Kijelentkezés</a>

        
    </body>
</html>
