<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
        <title>Admin jog hozzáadása/megvonása - Nézünk, mint a moziban</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Admin jog hozzáadása/megvonása</h1>
        <h3>Adminok:</h3>        
        <table border="3">
            <thead>
                <tr>
                    <th width="300px">Email-cím</th>
                    <th width="150px"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user: ${admins}">                        
                    <td th:text="${user.email}" />     
                    <td><a th:href="@{'/adminadder/' + ${user.id}}">Adminjog megvonása</a></td>
                </tr>
            </tbody>
        </table>
        <h3>Felhasználók:</h3>
        <table border="3">
            <thead>
                <tr>
                    <th width="300px">Email-cím</th>
                    <th width="150px"></th>
                </tr>
            </thead>
            <tbody>                
                <tr th:each="user: ${customers}">                        
                    <td th:text="${user.email}" />     
                    <td><a th:href="@{'/adminadder/' + ${user.id}}">Adminjog adása</a></td>
                </tr>
            </tbody>
        </table>
        <a href="/adminpage">Vissza</a>
    </body>
</html>
