<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Login - Nézünk, mint a moziban</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <div id="errormsg" align="center">

            <h2>Nem vagy bejelentkezve!</h2><br>
            <h2>A foglaláshoz kérlek jelentkezz be!</h2><br>

        </div>

        <form action="#" th:action="@{/login}" th:object="${loginFormData}" method="post">
            <table id="login" align="center">
                <tr>
                    <td><label for="email">E-mail cím: </label></td>
                    <td><input type="email" th:field="*{email}" id="loginemail" placeholder="valami@valami.valami" /></td>
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    <td><label for="password">Jelszó: </label></td>
                    <td><input type="password" th:field="*{password}" id="loginpassword" placeholder="Jelszó" /></td>
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                    <td><input type="submit" value="Bejelentkezek" /></td>                
                </tr>
            </table>

        </form>


    </body>
</html>
