<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
        <title>Login - Nézünk, mint a moziban</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <div id="errormsg" align="center">

            <h2>Nem vagy bejelentkezve!</h2><br>
            <h2>A foglaláshoz kérlek jelentkezz be!</h2><br>

        </div>

        <form action="#" th:action="@{/login}" th:object="${loginFormData}" method="post">
            <table id="login" align="center">
                <tr>
                    <td><label for="email">E-mail cím: </label></td>
                    <td><input type="email" th:field="*{email}" id="loginemail" placeholder="valami@valami.valami" /></td>
                    <td><label for="password">Jelszó: </label></td>
                    <td><input type="password" th:field="*{password}" id="loginpassword" placeholder="Jelszó" /></td>
                    <td><input type="submit" value="Bejelentkezek" /></td>                
                </tr>
                <tr>
                    <td /><td><span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span></td>
                    <td /><td><span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span></td>
                </tr>
            </table> <br />
            <a href="/mainpage">Vissza a főoldalra</a> <br/>

        </form>


    </body>
</html>
