
<html>
    <head>

        <script>
            function selectElement(e) {
                var targ;
                if (!e) {
                    var e = window.event;
                }
                if (e.target) {
                    targ = e.target;
                } else if (e.srcElement) {
                    targ = e.srcElement;
                }
                var tname;
                tname = targ.name;
                window.location = 'moviepage?id=' + tname;

            }
        </script>


        <style>
            img {
                width: 300px;
                height: 500px;
            }

            img:hover{
                cursor: pointer;
            }
        </style>
        <title>Főoldal - Nézünk, mint a moziban</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <div id="menu">
            <table align="center">
                <tr id="menuRow">
                    <td><a href="/mainpage">Főoldal</a></td>

                    <td>
                        <form th:action="@{/searchByCategory}" th:object="${searchByMovieCategoryFormData}" method="GET">
                            Szűrés: <select th:field="*{movCategory}" id="movCategory" style="width: 100px">
                                <option th:value="''" th:text="''"></option>                                
                                <option th:each="movieCategory: ${movieCategories}" th:text="${movieCategory.category.hungarianName}" th:value="${movieCategory.category}" />
                            </select>
                            <input type="submit" value="Szűrés" />
                        </form>
                    </td>



                    <td>
                        <form th:action="@{/search}" th:object="${searchFormData}" method="GET">
                            Keresés: <input type="text" id="searchField" th:field="*{searchValue}" />
                            <input type="submit" value="Keresés" />
                        </form>
                    </td>

                    <td>
                        <form th:action="@{/login}" th:object="${loginFormData}" method="GET">
                            <table>
                                <tr>
                                    <td>Email: <input type="email" id="email" th:field="*{email}" /></td>
                                    <td>Jelszó: <input type="password" id="password"  th:field="*{password}" /></td>
                                    <td><input type="button" value="Bejelentkezés" /></td>

                                </tr>
                            </table>
                        </form>
                    </td>

                    <td><a href="/registration">Regisztráció</a></td>

                </tr>
                <tr>
                    
                </tr>
            </table>
        </div>

        <table align="center">

            <tbody>
                <tr th:if="${movielist.empty}">
                    <td colspan="2"> A megadott paraméterekkel nem található film. </td>
                </tr>
                <tr>
                    <td th:each="movie : ${movielist}">
                        <table>
                                <tr>
                                    <td><img th:src="@{${movie.imageLink}}" th:name="${movie.id}" onclick="selectElement(event)"/></td>
                                </tr>
                                <tr>
                                    <td><a th:href="@{'/moviepage?id=' + ${movie.id}}" th:text="${movie.title}" align='center' /></td>
                                </tr>
                        </table>
                    </td>
                </tr>
<!--                <tr th:each="movie : ${movielist}">
                    <td><span th:text="${movie.title}"> Title </span></td>
                    <td><img th:src="@{${movie.imageLink}}" th:name="${movie.id}" onclick="selectElement(event)"/></td>

                </tr>-->
            </tbody>
        </table>
    </body>
</html>
