<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
        <title>Regisztráció - Nézünk, mint a moziban</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    </head>
    <body>
        <form action="#" th:action="@{/registration}" th:object="${registrationFormData}" method="POST">
            <table>
                <tr>
                    <td>
                        Email: 
                    </td>
                    <td>
                        <input type="email" th:field="*{email}" id="email" /><br/>
                    </td>
                    <td>
                        <p th:errors="*{email}"></p>
                    </td>
                </tr>

                <tr>
                    <td>                        
                        Jelszó:  
                    </td>
                    <td>
                        <input type="password" th:field="*{password}" id="password" /><br/>
                    </td>
                    <td>
                        <p th:errors="*{password}"></p>
                    </td>
                </tr>

                <tr>
                    <td>
                        Jelszó újra:   
                    </td>
                    <td>
                        <input type="password" th:field="*{passwordAgain}" id="passwordAgain" /><br/>
                    </td>
                    <td>
                        <p th:errors="*{passwordAgain}"></p>
                    </td>
                </tr>
            </table>
            <input type="submit" value="Regisztráció" id="register"/>
        </form>
        <a href="/mainpage">Vissza a főoldalra</a>
    </body>
</html>
