<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Új terem hozzáadása - Nézünk, mint a moziban</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Új terem hozzáadása</h1>
        <form th:action="@{/roomcreation}" th:object="${roomCreationFormData}" method="POST">
            <table>
                <tr>
                    <td>
                        A terem sorszáma:  
                    </td>
                    <td>
                        <input type="number" th:field="*{roomNumber}" id="roomNumber" min="1" max="25" /><br/>
                    </td>
                    <td>
                        <p th:errors="*{roomNumber}"></p>
                    </td>
                </tr>

                <tr>
                    <td>                        
                        A sorok száma:   
                    </td>
                    <td>
                        <input type="number" th:field="*{rowCount}" id="rowCount" min="6" max="20" /><br/>
                    </td>
                    <td>
                        <p th:errors="*{rowCount}"></p>
                    </td>
                </tr>

                <tr>
                    <td>
                        Az oszlopok száma:   
                    </td>
                    <td>
                        <input type="number" th:field="*{columnCount}" id="columnCount" min="6" max="20" /><br/>
                    </td>
                    <td>
                        <p th:errors="*{columnCount}"></p>
                    </td>
                </tr>
            </table>
            <input type="submit" value="Elküld" id="sendRoomCreationForm"/>
        </form>
        <a href="adminpage">Vissza</a> 
    </body>
</html>
