<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>A jegyfoglalásod</div>
        
        <table>

            <tbody>
                    <div>A vetítés</div>
                    <td><span th:text="${screening}"> TicketID </span></td>
                   

                </tr>
            </tbody>
        </table>
        
        <table>
            <td colspan="2"> Foglalt székek </td>

            <tbody>
                <tr th:if="${ticketsCreationDto.ticketList.empty}">
                    <td colspan="2"> no ticket list </td>
                </tr>
                <tr th:each="ticket : ${ticketsCreationDto.ticketList}">
                    
                    <td><span th:text="${ticket.chair}"> Chair </span></td>

                </tr>
            </tbody>
        </table>
        
        
       
        <form th:action="@{/ticketpage}" th:object="${ticketsCreationDto}" method="POST">
            <button type="submit"  value="Megerősítem" id="click">Submit</button>
        </form>
                  
 

         <button id="click">Mégse</button>
    </body>
</html>
